@model IEnumerable<WebApplication5.Models.Transport>
@{
    List<Transport> transport = (List<Transport>)ViewBag.Transport;
    ViewBag.headerImage = "~/image/busCover1-1.jpg";
}


<h2 class="center">Երթուղային Տաքսի </h2>
<h5 class="center">Թարմացում Jun 10, 2020</h5>

@foreach (var trans in transport)
{
    <a href="/Transport/TransportDetails/@trans.Id"><button class="button">@trans.Number</button></a>
}
<div>
    <a href="/Transport/Create" class="btn btn-success">Create</a>
</div>
