@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-color: #e6e6e6;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        .header {
            height: -40px;
            padding: 80px;
            text-align: center;
            background-image: url('/image/metrocover.jpg');
            background-size: 100%;
            color: white;
        }

            .header h1 {
                font-size: 40px;
            }

        .navbar {
            height: 46px;
            overflow: hidden;
            background-color: #333;
            position: sticky;
            position: -webkit-sticky;
            top: 0;
        }

            .navbar a {
                margin-left: 150px;
                float: left;
                display: block;
                color: white;
                text-align: center;
                padding: 14px 20px;
                text-decoration: none;
            }


                .navbar a.right {
                    float: right;
                }

                .navbar a:hover {
                    background-color: #ffaa00;
                    color: black;
                }

                .navbar a.active {
                    background-color: #666;
                    color: white;
                }

        .row {
            display: -ms-flexbox; 
            display: flex;
            -ms-flex-wrap: wrap; 
            flex-wrap: wrap;
        }

        .side {
            -ms-flex: 30%; 
            flex: 30%;
            background-color: #f1f1f1;
            padding: 20px;
        }

        .main {
            text-align: left;
            -ms-flex: 70%; 
            flex: 70%;
            background-color: white;
        }

        .fakeimg {
            height: 120px;
            background-color: #aaa;
            width: 100%;
        }

        .realimage {
            height: auto;
            width: auto;
            background-color: #aaa;
        }

        .footer {
            padding: 20px;
            text-align: center;
            background: #f2f2f2;
        }

        .center {
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="header">
        <h1><b>Երևանի Քաղաքապետարան</b></h1>
        <p><b>Տրանսպորտ</b> </p>
    </div>

    <div class="navbar">
        <a href="/transport/Bus">Երթուղային տաքսի</a>
        <a href="/transport/bigbus">Ավտոբուս</a>
        <a href="/transport/metro">Մետրո</a>
        <a href="/transport/taxi">Տաքսի</a>
    </div>

    <div class="row">
        <div class="side">
            <h2>Երևանի մասին</h2>

            <div class="fakeimg" style="height:250px;">
                <img src="~/image/YerevanKaskade.jpg" style="height:250px;  width: 100%">
            </div>

            <p class="center">
                Երևան, քաղաք Հայաստանի արևմուտքում՝ Հրազդանի երկու ափերին։ Հանդիսանում է պետության մայրաքաղաքն ու խոշորագույն բնակավայրը,
                վարչաքաղաքական, տնտեսական կենտրոնը: Համաձայն Հայաստանի պաշտոնական տեղեկատվության՝ 2014 թվականի հունվարի մեկի դրությամբ ունի
                1.068.000 բնակիչ։

                Համաձայն տարածված տեսակետի՝ Երևանը հիմնադրել է Վանի թագավորության արքա Արգիշտի Ա-ն մ. թ. ա. 8-րդ դարում Էրեբունի անվամբ:
                2018 թվականին Երևանը դարձավ 2800 տարեկան։ Բնակավայրի տարածքում հայտնաբերվել են ավելի հին քաղաքների ու ավանների ավերակներ, ինչպիսին են
                Թեյշեբաինին, Շենգավիթը, որոնք ունեն ավելի հին թվագրում: Քաղաքի տեղանվան ծագման հետ կապված կան շատ վարկածներ, մասնավորապես, ըստ
                ժողովրդական ավանդության, Երևանը կապվում է Նոյի անվան հետ, իբր Նոյն է այդպես կոչել առաջին ջրհեղեղից հետո երևացող ցամաքը:
                Միջնադարում քաղաքը Մեծ Հայքի Այրարատ նահանգի Կոտայք գավառի սահմաններում էր:
            </p>

            <h3><i>Օդանավակայան</i></h3>

            <div class="fakeimg" style="height:300px;">
                <img src="~/image/ZvartnocAiroport.jpg" style="height:300px;  width: 100%">
            </div>


            <p>
                Զվարթնոց միջազգային օդանավակայանը Հայաստանի ամենամեծ օդանավակայանն է։
                Այն գտնվում է Զվարթնոցից ոչ հեռու, Երևանից 10 կմ դեպի արևմուտք։ Զվարթնոց միջազգային
                օդանավակայանը բացվել է 1961 թվականին։ Այն կոնցեսիոն կառավարման է հանձնվել Արմենիա
                միջազգային օդանավակայաններ ընկերությանը 30 տարի ժամկետով: Ըստ 2011 թվականի տվյալների՝
                օդանավակայանը փոխադրել է 1.6 միլիոն ուղևոր:
            </p>


            <h3><i>Տրամվայ</i></h3>

            <div class="fakeimg" style="height:250px;">
                <img src="~/image/TramvaiYerevan.jpg" style="height:250px;  width: 100%">
            </div>

            <p>
                Տրամվայրը համակարգը Երևանում գործարկվել է 1906 թվականի սեպտեմբերի 29-ին քաղաքային ձիաքարշ
                երկաթգծի տեսքով և գործել է մինչև 2004 թվականի հունվարի 21-ը։

            </p>

        </div>
        <div class="main">
            <h2 class="center">Երևանի Մետրոպոլիտեն </h2>
            <h5 class="center">Թարմացում Jun 10, 2020</h5>

            <p class="center">
                Նախապատմություն
                Խորհրդային Միությունում մետրոպոլիտեն ունենալու հնարավորությունը խիստ սահմանափակ էր,
                և շուրջ 16 խոշոր քաղաքներ մերժում էին ստացել մետրոյի շինարարություն սկսելու հարցում:

                Միջազգային պրակտիկայում ընդունված էր մետրո կառուցել 1 մլն. և ավելի բնակչություն ունեցող քաղաքներում:
                Այդ չափանիշով Երևանում ընդհանրապես մետրո չէր կառուցվի:
                Այստեղ անհրաժեշտ էին բոլորովին այլ մոտեցումներ, հիմնավորումներ, փաստարկներ:
                Եվ այդ փաստարկները գտնվեցին․ մայրաքաղաքի փողոցների ծանրաբեռնվածությունը տրանսպորտով,
                խցանումները, քաղաքի ընդլայնման հեռանկարները, բարդ ռելիեֆը` խոր իջվածքներով, բնական խոչընդոտների առկայությունը,
                բնակլիմայական պայմանները և այլն: Կարեն Դեմիրճյանի հանձնարարությամբ «Հայպետտրանս» նախագծային ինստիտուտը
                տնօրեն Վլադիմիր Դանդուրովի գլխավորությամբ` (նա Միությունում մեծ ճանաչում ունեցող լավագույն մասնագետներից էր)
                պատրաստեց «ստորգետնյա արագընթաց» տրամվայի փոխարեն մետրոպոլիտեն կառուցելու
                անհրաժեշտությունը հիմնավորող փաստաթղթերը։ Կարեն Դեմիրճյանին հաջողվեց Մոսկվայում ստորգետնյա տրամվայի
                որոշումը վերափոխել մետրոյի շինարարության որոշման: Նա կոտրում է միջազգային պրակտիկայում ընդունված կարծրատիպը,
                ապացուցելով, որ Երևանում ստորգետնյա տրանսպորտի կարիքն ավելի շատ է և կառուցումը անհրաժեշտ, քան 1 մլն և ավելի
                ազգաբնակչություն ունեցող քաղաքներում: Այդպիսի դժվարությամբ ձեռք բերվեց Մոսկվայի համաձայնությունը,
                և 1977 թվականի հոկտեմբերի 6-ին հրապարակվեց ԽՍՀՄ Խորհրդային Սոցիալիստական Հանրապետությունների Միություն
                կառավարության որոշումը Երևանի մետրոպոլիտենի շինարարության մասին[1]։

                Ստորգետնյա տրանսպորտի շինարարությունը սկսվել էր դեռևս Անտոն Քոչինյանի օրոք` որպես ստորգետնյա տրամվայ,
                նաև որպես քաղաքացիական պաշտպանության օբյեկտ` տեղական բյուջեյով:
                Կառուցվել էր թունել «Բարեկամություն» և «Մարշալ Բաղրամյան» կայարանների միջև:
                Սակայն ֆինանսների բացակայության պատճառով շինարարությունը դադարել էր[2]։
            </p>

            <div class="fakeimg" style="height:200px;">
                <img src="~/image/metroImg.jpg" style="height:200px;  width: 100%">
            </div>

            <h2 class="center">Ժամանակագրություն</h2>

            <p>
                <ul>
                    <li>1972 թ.՝ Սկսվում է Երևանի մետրոյի շինարարությունը։</li>
                    <li>1981 թ. Մարտի 7՝ Շահագործման է հանձնվում Բարեկամություն - Սասունցի Դավիթ հատվածը։</li>
                    <li>1981 թ. Դեկտեմբերի 26՝ Բացվում է Լենինի Հրապարակ կայարանը։</li>
                    <li>1983 թ. Հուլիսի 11՝ Շահագործման է հանձնվում Սասունցի Դավիթ - Գործարանային հատվածը</li>
                    <li>1985 թ. Դեկտեմբերի 26՝ Շահագործման է հանձնվում Գործարանային - Շենգավիթ հատվածը։</li>
                    <li>1987 թ. Հունվարի 1՝ Շահագործման է հանձնվում Շենգավիթ - Սպանդարյան Հրապարակ հատվածը։</li>
                    <li>1988 թ. Դեկտեմբեր՝ Սպիտակի երկրաշարժից հետո դադարեցվում են Աջափնյակ և Դավիթաշեն թաղամասերում մետրոյի կայարաններ կառուցելու աշխատանքները։</li>
                    <li>1989 թ. Դեկտեմբերի 2՝ Բացվում է Հոկտեմբերյան կայարանը։</li>
                    <li>1996 թ. Դեկտեմբերի 26՝ Շահագործման է հանձնվում Շենգավիթ - Չարբախ հատվածը։</li>
                    <li>1999 թ. Դեկտեմբերի 28՝ Երևանի մետրոյին տրվում է Կարեն Դեմիրճյանի անունը։</li>
                    <li>2011 թ. Հուլիսի 1՝ Մետրոյի ուղեվարձը սահմանվում է 100 դրամ։</li>
                </ul>
            </p>
            <br>

            <div class="realimage" style="height:400px;background-color:white">
                <img src="~/image/metroMap.jpg" style="height:400px ;width:400px ">
            </div>

            <br>


            <h2 class="center">Կանգառների միջև հեռավորությունը</h2>
            <ul>
                <li>Գարեգին Նժդեհ - Շենգավիթ ։ 720մ</li>
                <li>Շենգավիթ - Չարբախ ։ 665մ</li>
                <li>Շենգավիթ - Գործարանային ։ 1230մ</li>
                <li>Գործարանային - Սասունցի Դավիթ ։ 2560մ</li>
                <li>Սասունցի Դավիթ -  ։ 3254մ</li>
                <li>Զորավար Անդրանիկ - Հանրապետության Հրապարակ ։ 814մ</li>
                <li>Հանրապետության Հրապարակ - Երիտասարդական ։ 1154մ </li>
                <li>Երիտասարդական - Մարշալ Բաղրամյան ։ 942մ</li>
                <li>Մարշալ Բաղրամյան - Բարեկամություն ։ 6222մ</li>
            </ul>

            <div class="realimage" style="height:200px; width: 100%">
                <img src="~/image/metroNew.jpg" style="height:200px;  width: 100%">
            </div>

            <h2 class="center">Կանգառների միջև հեռավորությունը ըստ ժամակարգի</h2>

            <ul>
                <li>Գարեգին Նժդեհ - Շենգավիթ ։ 3 րոպե 20 վարկյան</li>
                <li>Շենգավիթ - Չարբախ ։ 2 րոպե 44 վարկյան</li>
                <li>Շենգավիթ - Գործարանային ։ 5 րոպե 6 վարկյան</li>
                <li>Գործարանային - Սասունցի Դավիթ ։ 7 րոպե 14 վարկյան</li>
                <li>Սասունցի Դավիթ - Զորավար Անդրանիկ ։ 4 րոպե 25 վարկյան</li>
                <li>Զորավար Անդրանիկ - Հանրապետության Հրապարակ ։ 3 րոպե 10 վարկյան</li>
                <li>Հանրապետության Հրապարակ - Երիտասարդական ։ 2 րոպե 45 վարկյան </li>
                <li>Երիտասարդական - Մարշալ Բաղրամյան ։ 6 րոպե 8 վարկյան</li>
                <li>Մարշալ Բաղրամյան - Բարեկամություն ։ 8 րոպե 5 վարկյան</li>
            </ul>



            <br>
            <br><br>
            <br>




        </div>
    </div>

    <div class="footer">
        <h4>This page was last edited on 22 Jun 2020</h4>
        <h5>All rights reserved</h5>
    </div>

</body>
</html>
