USE [Transport]
GO
/****** Object:  Table [dbo].[Transport]    Script Date: 27.06.2020 17:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transport](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [int] NOT NULL,
	[city] [nvarchar](40) NOT NULL,
	[start] [nvarchar](40) NOT NULL,
	[finish] [nvarchar](40) NOT NULL,
	[StationsCount] [int] NOT NULL,
	[Distance] [nvarchar](40) NOT NULL,
	[Type] [int] NOT NULL,
	[Process] [nvarchar](800) NULL,
 CONSTRAINT [PK_Transport] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Transport] ON 

INSERT [dbo].[Transport] ([id], [number], [city], [start], [finish], [StationsCount], [Distance], [Type], [Process]) VALUES (1, 1, N'Երևան', N'ԷՐԵԲՈՒՆՈՒ ԶԱՆԳՎԱԾ', N'ԶԵՅԹՈՒՆ', 34, N'40կմ', 0, N'Էրեբունու զ/ծ (ս.կ.) - Խաղաղ Դոնի - Տիտոգրադյան - Այվազովսկու - Էրեբունու փ-ներ - Արցախի - Տ.Մեծի պ-ներ - Հանրապետության հր. - Ամիրյան փ. - Մաշտոցի - Մարշալ Բաղրամյան պ-ներ - Կասյան փ. - Կոմիտասի - Ազատության պ-ներ - Պ.Սևակի - Դրոյի - Զեյթունի 5-րդ - Լեփսիուսի փ-ներ - Զեյթուն (վ.կ.): Հետադարձը` նույն ուղեգծով:')
INSERT [dbo].[Transport] ([id], [number], [city], [start], [finish], [StationsCount], [Distance], [Type], [Process]) VALUES (2, 2, N'Երևան', N'ՀԱԹ', N'ՆՈՐ ՆՈՐՔԻ 9-ՐԴ ԶԱՆԳՎԱԾ', 44, N'43կմ', 0, N'ՀԱԹ (ս.կ.) - Ա.Բաբաջանյան - Րաֆֆու - Սեբաստիայի - Լենինգրադյան - Կիևյան - Կասյան փ-ներ - Կոմիտասի պ. - Դ.Անհաղթի - Ռուբինյանց փ-ներ - Գայի պ. - Մուրադյան - Դավիթ Բեկի - Ավետիսյան - Վիլնյուսի փ-ներ - Նոր Նորքի 9-րդ զ/ծ (վ.կ.): Հետադարձը` նույն ուղեգծով:')
INSERT [dbo].[Transport] ([id], [number], [city], [start], [finish], [StationsCount], [Distance], [Type], [Process]) VALUES (3, 3, N'Երևան', N'ՀԱԹ', N'ՆՈՐ ՆՈՐՔԻ 9-ՐԴ ԶԱՆԳՎԱԾ', 44, N'43կմ', 0, N'ՀԱԹ (ս.կ.) - Ա.Բաբաջանյան - Րաֆֆու - Սեբաստիայի - Լենինգրադյան - Կիևյան - Կասյան փ-ներ - Կոմիտասի պ. - Դ.Անհաղթի - Ռուբինյանց փ-ներ - Գայի պ. - Մուրադյան - Դավիթ Բեկի - Ավետիսյան - Վիլնյուսի փ-ներ - Նոր Նորքի 9-րդ զ/ծ (վ.կ.): Հետադարձը` նույն ուղեգծով:')
GO
SET IDENTITY_INSERT [dbo].[Transport] OFF
GO
ALTER TABLE [dbo].[Transport] ADD  CONSTRAINT [DF_Transport_Type]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[Transport] ADD  CONSTRAINT [DF_Transport_Process]  DEFAULT (N'Null') FOR [Process]
GO
