@model IEnumerable<WebApplication5.Models.Transport>
@{
    List<Transport> transport = (List<Transport>)ViewBag.Transport;
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>

        * {
            box-sizing: border-box;
        }

        body {
            background-color: #e6e6e6;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        .header {
            height: -40px;
            padding: 80px;
            text-align: center;
            background-image: url('image/mun3.jpg');
            background-size: 100%;
            color: white;
        }

            .header h1 {
                font-size: 40px;
            }

        .navbar {
            height:46px;
            margin-left: 1px;
            overflow: hidden;
            background-color: #333;
            position: sticky;
            position: -webkit-sticky;
            top: 0;
        }

            .navbar a {
                margin-left:150px;
                float: left;
                display: block;
                color: white;
                text-align: center;
                padding: 14px 20px;
                text-decoration: none;
            }

                .navbar a.right {
                    float: right;
                }

                .navbar a:hover {
                    background-color: #ffaa00;
                    color: black;
                }

                .navbar a.active {
                    background-color: #666;
                    color: white;
                }

        .row {
            display: -ms-flexbox; 
            display: flex;
            -ms-flex-wrap: wrap; 
            flex-wrap: wrap;
        }

        .side {
            -ms-flex: 30%; 
            flex: 30%;
            background-color: #f1f1f1;
            padding: 20px;
        }

        .main {
            text-align: center;
            -ms-flex: 70%; 
            flex: 70%;
            background-color: white;
        }

        .fakeimg {
            height: 120px;
            background-color: #aaa;
            width: 100%;
        }

        .realimage {
            height: auto;
            width: auto;
            background-color: #aaa;
        }

        .footer {
            padding: 20px;
            text-align: center;
            background: #f2f2f2;
        }

        .center {
            text-align: center;
        }
        .text-image {
            margin: 15px 0 0 0;
            text-align: justify;
            font-size: 13px;
            min-height: 400px;
            height: auto !important;
            height: 400px;
        }
    </style>

</head>
<body>

    <div class="header">
        <h1><b>Երևանի Քաղաքապետարան</b></h1>
        <p><b>Տրանսպորտ</b> </p>
    </div>

    <div class="navbar">
        <a href="/transport/bigBus">Երթուղային տաքսի</a>
        <a href="/transport/bus">Ավտոբուս</a>
        <a href="/transport/metro">Մետրո</a>
        <a href="/transport/taxi">Տաքսի</a>
    </div>

    <div class="row">
        <div class="side">
            <h2>Երևանի մասին</h2>

            <div class="fakeimg" style="height:250px;">
                <img src="~/image/YerevanKaskade.jpg" style="height:250px;  width: 100%">
            </div>

            <p class="center">
                Երևան, քաղաք Հայաստանի արևմուտքում՝ Հրազդանի երկու ափերին։ Հանդիսանում է պետության մայրաքաղաքն ու խոշորագույն բնակավայրը,
                վարչաքաղաքական, տնտեսական կենտրոնը: Համաձայն Հայաստանի պաշտոնական տեղեկատվության՝ 2014 թվականի հունվարի մեկի դրությամբ ունի
                1.068.000 բնակիչ։

                Համաձայն տարածված տեսակետի՝ Երևանը հիմնադրել է Վանի թագավորության արքա Արգիշտի Ա-ն մ. թ. ա. 8-րդ դարում Էրեբունի անվամբ:
                2018 թվականին Երևանը դարձավ 2800 տարեկան։ Բնակավայրի տարածքում հայտնաբերվել են ավելի հին քաղաքների ու ավանների ավերակներ, ինչպիսին են
                Թեյշեբաինին, Շենգավիթը, որոնք ունեն ավելի հին թվագրում: Քաղաքի տեղանվան ծագման հետ կապված կան շատ վարկածներ, մասնավորապես, ըստ
                ժողովրդական ավանդության, Երևանը կապվում է Նոյի անվան հետ, իբր Նոյն է այդպես կոչել առաջին ջրհեղեղից հետո երևացող ցամաքը:
                Միջնադարում քաղաքը Մեծ Հայքի Այրարատ նահանգի Կոտայք գավառի սահմաններում էր:
            </p>

            <h3><i>Օդանավակայան</i></h3>

            <div class="fakeimg" style="height:300px;">
                <img src="~/image/ZvartnocAiroport.jpg" style="height:300px;  width: 100%">
            </div>


            <p>
                Զվարթնոց միջազգային օդանավակայանը Հայաստանի ամենամեծ օդանավակայանն է։
                Այն գտնվում է Զվարթնոցից ոչ հեռու, Երևանից 10 կմ դեպի արևմուտք։ Զվարթնոց միջազգային
                օդանավակայանը բացվել է 1961 թվականին։ Այն կոնցեսիոն կառավարման է հանձնվել Արմենիա
                միջազգային օդանավակայաններ ընկերությանը 30 տարի ժամկետով: Ըստ 2011 թվականի տվյալների՝
                օդանավակայանը փոխադրել է 1.6 միլիոն ուղևոր:
            </p>


            <h3><i>Տրամվայ</i></h3>

            <div class="fakeimg" style="height:250px;">
                <img src="~/image/TramvaiYerevan.jpg" style="height:250px;  width: 100%">
            </div>

            <p>
                Տրամվայրը համակարգը Երևանում գործարկվել է 1906 թվականի սեպտեմբերի 29-ին քաղաքային ձիաքարշ
                երկաթգծի տեսքով և գործել է մինչև 2004 թվականի հունվարի 21-ը։

            </p>

        </div>

        <div class="main">
            <h2 class="center">Երևանի ներհամայնքային հասարակական տրանսպորտ</h2>
            <h5 class="center">Թարմացում Jun 10, 2020</h5>

            <br>
            <br>

            <p>
                Երևանի ներհամայնքային հասարակական տրանսպորտ


                Մայրաքաղաքի բնակչության տրանսպորտային սպասարկումն իրականացվում է ավտոբուսներով, տրոլեյբուսներով, միկրոավտոբուսներով և մետրոպոլիտենով:
                Նկատի ունենալով վերջին տարիներին մայրաքաղաքում ավտոտրանսպորտի քանակի աճի միտումը` քաղաքային իշխանությունը որդեգրել է քաղաքային
                երթուղային ցանցում մեծ տեղատարողության շարժակազմերի (ավտոբուսների և տրոլեյբուսների) տեսակարար կշիռն ավելացնելու և, զուգահեռաբար,
                միկրոավտոբուսների շահագործումը բացառելու քաղաքականություն:
                Երևանի քաղաքապետարանի համակարգում գործում են հետևյալ ուղևորատար տրանսպորտային ընկերությունները` «Կարեն Դեմիրճյանի անվան Երևանի մետրոպոլիտեն»,
                «Երևանի էլեկտրատրանսպորտ», «Երևանի ավտոբուս», «Երևանտրանս» փակ բաժնետիրական ընկերությունները,
                որոնց գործունեությունը համակարգում է Երևանի քաղաքապետարանի աշխատակազմի տրանսպորտի վարչությունը:
            </p>

            <div class="fakeimg" style="height:400px;">
                <img src="~/image/city.jpg" style="height:400px;  width: 100%">
            </div>

            <h3><i><b>Ավտոբուսային փոխադրումներ</b></i></h3>

            <p>

                Մայրաքաղաքի ավտոբուսային հավաքակազմում առկա է 561 ավտոբուս, փաստացի շահագործվում է 39 երթուղի, որոնցում օրական միջին
                հաշվով գիծ է դուրս բերվում մոտ 400 միավոր շարժակազմ։ Ավտոբուսային երթուղիները պայմանագրային հիմունքներով սպասարկում են
                «Երևանի ավտոբուս» ՓԲԸ-ն և մասնավոր 17 կազմակերպություններ։
                Ավտոբուսային հավաքակազմը համալրելու նպատակով 2012-2017թթ. մայրաքաղաք է ներկրվել տարբեր մակնիշների թվով 434 նոր ավտոբուս
                (վերջին խմբաքանակը 2017թ-ին՝ «Հունդաի» մակնիշի 3 հատ)։ 2019թ. ներհամայնքային ավտոբուսային երթուղիներ դուրս բերվող շարժակազմի
                քանակի որոշ չափով ավելացման և երթուղիների շահագործման արդյունավետության բարձրացման արդյունքում որոշակիորեն աճել է ավտոբուսներով
                իրականացված ուղևորափոխադրումների ծավալը։ 2019թ. ավտոբուսներով ընդհանուր առմամբ տեղափոխվել է մոտ 84.3 մլն ուղևոր, ինչը
                նախորդ տարվա համեմատ ավելի է մոտ 1.6%-ով, իսկ տեսակարար կշիռը ընդհանուր ուղևորափոխադրումներում կազմել է
                մոտ 43.2%։ Չնայած դրան՝ ներհամայնքային կանոնավոր ուղևորափոխադրումների ընդհանուր ծավալում ավտոբուսներով իրականացվող
                ուղևորափոխադրումների տեսակարար կշիռը դեռևս ցածր է։ Երևանում դեռևս փոքր է ավտոբուսային երթուղիների շահագործման արդյունավետությունը։
                Մայրաքաղաքի բնակչության կանոնավոր տրանսպորտային սպասարկումն ապահովելու համար անհրաժեշտ է շարունակել ավտոբուսային հավաքակազմի
                համալրումը քաղաքային նշանակության ավտոբուսներով՝ բացառելով միկրոավտոբուսները, ինչը և նախատեսվում է իրականացնել Երևանի հանրային
                տրանսպորտի նոր երթուղային ցանցի ներդրման գործընթացի շրջանակներում։
            </p>
            <br>
            <div class="realimage" style="height:400px;">
                <img src="~/image/bogdanBus.jpg" style="height:400px;  width: 942px">
            </div>

            <h3><i><b>Մետրոպոլիտեն</b></i></h3>

            <p>
                Երևանի մետրոպոլիտենի վերականգնման ծրագրի սկիզբը


                Գաղտնիք չէ, որ մետրո ունենալը, պահպանելը, առավել ևս` մետրո կառուցելը թանկ գործընթաց է ամբողջ աշխարհում:
                Մեկ կիլոմետրի արժեքն է 120 -160 մլն ԱՄՆ դոլար: Մի պահ պատկերացնենք. եթե մենք մետրո չունենայինք և նորը ցանկանայինք
                կառուցել… Դժվար չէ հաշվելը, որ այսօրվա մեր 12 կիլոմետրանոց մետրոյի արժեքը կկազմի, ամենահամեստ հաշվարկներով,
                շուրջ 1.5 մլրդ ԱՄՆ դոլար: Այդ գումարի գրեթե կեսը բաժին է ընկնում հիմնարար շինարարությանը, իսկ մյուս կեսը,
                այսինքն` շուրջ 750 մլն դոլարը, ենթակառուցվածքներն են, ներառյալ գծային տնտեսությունը, գնացքները, շարժասանդուղքները,
                սարքավորումները, դեպոն, կառավար¬ման համակարգերը և այլն: Հենց այս բաղադրիչն է, որ մշտական խնամք և ներդրում է պահանջում:
                Սակայն, բոլորիս հայտնի պատճառներով, տարիներ շարունակ այդ ներդրումները չեն կատարվել, և այդ մեծածավալ տնտեսությունը
                ժամանակի հետ աստիճանաբար իր ռեսուրսը սպառել էր գրեթե բոլոր բաղադրիչների առումով, մաշվել և անմխիթար վիճակում էր հայտնվել:
                Այդ ամենը հանգեցրեց այն բանին, որ 2008 թվականի սկզբին մենք հայտնվեցինք այն փաստի առաջ, որ մետրոպոլիտենի հետագա
                անվտանգ շահագործումը կարող էր կասկածի տակ դրվել: Բարեբախտաբար, օգնությունը հասավ ճիշտ ժամանակին. այն պայմանավորվեց
                ներկայիս նախագահ, այն ժամանակ վարչապետ պարոն Սերժ Սարգսյանի մետրոպոլիտեն այցով: Ծանոթանալով իրավիճակին և
                իրատեսորեն գնահատելով առկա պայմանները` նա անցկացրեց խորհրդակցություն, որից հետո ծնվեց հնգամյա ներդրումային
                ծրագրի պլան, որի նպատակն էր մետրոպոլիտենը դուրս բերել ճգնաժամից, իսկ եթե ավելի անկեղծ ասենք` առաջին անգամ
                համակարգը փլուզումից փրկելու իրական կամք դրսևորվեց: Խորհրդակցությանը շատ կարճ ժամանակահատվածում հաջորդեց կառավարության
                համապատասխան որոշումը, որով ամրագրվեցին հատկացվող ներդրումների ծավալները և ուղղություններն ըստ տարիների:
                Աննկարագրելի ոգևորություն էր տիրել ամբողջ կոլեկտիվում, և մենք ձեռնամուխ եղանք այդքան սպասված, տարիներ շարունակ կուտակված
                խնդիրների լուծմանը: Հենց նույն 2008թ. կատարվեցին մի շարք կարևորագույն աշխատանքներ` կայարանների նորացում,
                ավտոմատ անցակետերի ներդրում, վագոնների անմխիթար ներքին կահավորանքի բարելավում և այլն: Ցավոք սրտի,
                ուրախությունը երկար չտևեց. 2009թ. վրա հասած համաշխարհային տնտեսական ճգնաժամի պատճառով հատկացումներն զգալիորեն նվազեցին:
                Կրկին ծառացավ մետրոպոլիտենի հսկայական հնամաշ տնտեսությունը, առանց հիմնանորոգմանն ուղղված ներդրումների, պահելու խնդիրը:
                Տրամադրվող սուբսիդիան հազիվ էր բավականացնում միայն ուղղակի շահագործմանն առնչվող ծախսերի ապահովմանը, ասել է թե` աշխատավարձ,
                թանկացած էլեկտրաէներգիա և այլ` անհետաձգելի առօրյա ծախսեր: Հետաձգվում էին միայն վաղուց կապիտալ ներդրումներ պահանջող
                ենթակառուցվածքային ընդհանուր խնդիրները: Ինչպես նշվեց, նմանատիպ մի ժամանակակից կառույց կպահանջեր մոտ 1.5 մլրդ ներդրում,
                որի կեսը հենց ենթակառուցվածքներն են: Հենց այս բաղադրիչի վերականգնմանն էր ուղղված 2010թ. մարտի 10-ին շուրջ 2 տարի տևած
                բանակցությունների և մանրամասն իրագործելիության ուսումնասիրո¬թյան շնորհիվ ստորագրված Հայաստանի Հանրապետության և Եվրոպական
                վերակառուցման և զարգացման բանկի միջև համաձայնագիրը: Դրանով սկիզբ դրվեց «Երևանի մետրոյի վերականգնման ծրագրին»,
                որին 2010թ. օգոստոսին միացան Եվրոպական ներդրումային բանկը և Եվրամիության Հարևանության աջակցության ծրագիրը:
                Երեք մասնակից ֆինանսական կառույցներից յուրաքանչյուրի ներդրումն է 5 մլն եվրո, երկուսը` վարկի, իսկ մեկը` դրամաշնորհի ձևով:
            </p>

            <div class="realimage" style="height:300px; width: 100%">
                <img src="~/image/metro.jpg" style="height:300px;  width: 100%">
            </div>

            <br>
            <br>

            <h3><i><b>Էլեկտրատրանսպորտ</b></i></h3>

            <p>
                Վերգետնյա էլեկտրատրանսպորտ


                «Երևանի էլեկտրատրանսպորտ» ՓԲԸ-ի հաշվեկշռում առկա է 51 տրոլեյբուս (1-ը` տեխօգնության), այդ թվում՝ 5 հատ «Ռենո», 12 «Շկոդա» և 34
                «ԼԻԱԶ» մակնիշների։ Ընկերությունն սպասարկում է տրոլեյբուսային 5 երթուղի, օրական գիծ է դուրս բերվում միջին հաշվով 40-42 միավոր շարժակազմ։
                2019 թվականին ևս որոշակիորեն նվազել է տրոլեյբուսներով տեղափոխվող ուղևորների թիվը։ 2019թ. տրոլեյբուսներով տեղափոխվել է 5216.1 հազ. ուղևոր,
                ինչը 6.8 հազ. ուղևորով պակաս է նախորդ տարվա համեմատ կամ նվազել է 0.1%-ով։ Դեռևս փոքր է տրոլեյբուսներով տեղափոխվող ուղևորների տեսակարար
                կշիռը ներքաղաքային ընդհանուր ուղևորափոխադրումներում, այն կազմում է մոտ 2.7%։
                Հաշվի առնելով քաղաքային վերգետնյա էլեկտրատրանսպորտի դերը ներքաղաքային կանոնավոր ուղևորափոխադրումների ընդհանուր գործընթացում, այդ թվում
                բնապահպանական խնդիրների տեսանկյունից և կարևորելով դրա հետագա զարգացման անհրաժեշտությունը, որոշակի աշխատանքներ են կատարվում վերգետնյա
                էլեկտրատրանսպորտի շարժակազմի, հպակային և մալուխային ցանցերի, քարշի ենթակայանների նորոգման, հպակային ցանցի որոշակի նոր հատվածներ
                կառուցելու, տրոլեյբուսային տնտեսության արտադրական շենքերի վերանորոգման և վերազինման, ինչպես նաև տրոլեյբուսների շահագործման
                արդյունավետության բարձրացման ուղղությամբ

            </p>

            <div class="realimage" style="height:400px; width: 100%">
                <img src="~/image/electroBus.jpg" style="height:400px;  width: 100%">
            </div>
            <br>
            <br>
        </div>
    </div>

    <div class="footer">
        <h4>This page was last edited on 22 Jun 2020</h4>
        <h5>All rights reserved</h5>
    </div>

</body>
</html>
